.error-msg {
	border: 2px solid red;
	position: absolute;
	top: 95vh;
	border-radius: 2rem;
	padding: 0 1rem;
	background-color: red;
	transition: all 0.2s;

	p {
		font-size: 4rem;
		color: inherit;
		text-align: center;
	}
	// MEdia queries
	@media screen and (max-width: 1024px) {
		margin: 0 9rem;
		p {
			font-size: 3rem;
		}
	}
	@media screen and (max-width: 768px) {
		p {
			font-size: 2.07rem;
		}
	}
}
